* {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(236, 252, 199);
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 5px;
}

.image {
  width: 300px;
  margin-bottom: 20px;
}

.recipe-description {
  width: 300px;
  margin-bottom: 20px;
}

.ingredients-list {
  width: 260px;
  margin-bottom: 20px;
}

.steps-list {
  width: 260px;
  margin-bottom: 40px;
}

a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-bottom: 30px;
}